.navbar-custom {
  background-color: #A7754D;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

body {
  background-color: #DCCCBB;
}

h1 {
  color: #A7754D;
  font-weight: bold;
}

.btn {
  background-color: #DCCCBB;
  color: #A7754D;
  border: 2px solid #A7754D;
}

.btn:hover {
  background-color: #A7754D;
  color: white;
  border: 2px solid #A7754D;
}

.contactTable {
  padding: 0;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  color: whitesmoke;
  background-color: #8D98A7;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
}

.headerRow {
  background-color: #646E78;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  height: 50px;
  border-top: none;
}

.bodyRow:nth-child(odd) {
  background-color: #7f8b9c;
}

.bodyRow:hover {
  color: black;
  background-color: #b8bfc8;
}

.contactTable tr td {
  height: 35px;
}

.modifyContact {
  color: rgb(15, 15, 15);
  background-color: #646E78;
  color: white;
  border-radius: 6px;
}

.modifyContact:hover {
  color: rgb(15, 15, 15);
  background-color: #7f8b9c;
  color: white;
}

.modal-content {
  background-color: #DCCCBB;
}

.modal-title {
  color: #A7754D
}
