body {
  background-color: #D8F3DC;
}

.contactTable {
  padding: 0;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  color: whitesmoke;
  background-color: #52B788;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
}

.headerRow {
  background-color: #2D6A4F;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  height: 50px;
  border-top: none;
}

.bodyRow:nth-child(odd) {
  background-color: #40916C;
}

.bodyRow:hover {
  color: black;
  background-color: #D8F3DC;
}

.contactTable tr td {
  height: 35px;
}

.modifyContact {
  color: rgb(15, 15, 15);
  background-color: white;
  color: green;
  border-radius: 4px;
}