body {
  margin: 0;
  padding: 0;
  background: url("https://www.ucf.edu/files/2020/03/ucf-zoom-pegasus3-1920x1080.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

#contact_manager_body {
  background-color: #3d6ea5;
}

.space {
  padding-left: 10px;
}

input:focus::placeholder {
  color: transparent;
}

.loginbox {
  width: 370px;
  height: 530px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  background: rgba(191, 191, 191, 0.8);
  border: 3px solid #555;
}

.loginbox .left{
padding: 0px 0px;
}

.loginbox h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: -5px;
  margin-top: -25px;
  padding: 0 0 20px;
  text-align: center;
  color: black;
}

.loginbox h2 {
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: -15px;
  padding: 0 0 20px;
  text-align: center;
  color: black;
}

::placeholder {
  color: black;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-top: 30px;
}

.loginbox input{
color:black;
}
.loginbox input[type="text"],
input[type="password"] {
  border: 0px solid #555;
  background: white;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
}

::placeholder {
  color: gray;
  opacity: 1;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  width: 125px;
  height: 30px;
  background: rgb(15, 15, 15);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.buttons {
  margin-top: 35px;
}

.action_btn {
  margin-bottom: 5px;
  border: none;
  width: 125px;
  height: 30px;
  display: inline-block;
  border-radius: 60px;
  cursor: pointer;
  background: rgb(15, 15, 15);
  color: #fff;
}

.action_btn:hover {
  background-color: #ffc187;
}

a {
  margin-right: 4px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc187;
  color: #000;
}

.loginbox input[type="checkbox"]
{
color:black;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: rgb(15, 15, 15);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.button1 {
  background-color: rgb(232, 203, 130);
  border: rgb(245, 210, 115);
  color: black;
  padding: 12px 34px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width:45%;
  margin:auto;
}

.button2 {
  background-color: rgb(232, 203, 130);
  border: rgb(245, 210, 115);
  color: black;
  padding: 12px 34px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width:45%;
  margin-left: 20px;
}

.button1:hover {
  background-color: rgb(250, 229, 175);
}

.button2:hover {
  background-color: rgb(250, 229, 175);
}

.center{
display:block;
margin-left:auto;
margin-right:auto;
width:100%;
}

.input-icons i {
position: absolute;
}
          
.input-icons {
width: 100%;
margin-bottom: 10px;
}
          
.icon {
padding: 10px;
min-width: 40px;
}
          
.input-field {
width: 100%;
padding: 10px;
text-align: center;
}

#showpassword{
text-align:left;
}
