body {
  margin: 0;
  padding: 0;
  background: url("https://www.ucf.edu/files/2020/03/ucf-zoom-pegasus3-1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  font-family: sans-serif;
  background-attachment: fixed;
}

.container {
  width: 350px;
  height: 510px;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 30px;
  background: rgba(191, 191, 191, 0.8);
  border: 3px solid #555;
}

.container h2 {
  top: -20px;
  text-align: center;
  font-size: 28px;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}

.container label {
  margin-left: -8px;
  font-weight: bold;
  color: black;
}

.container input {
  margin-bottom: -8px;
}

input:focus::placeholder {
  color: transparent;
}

.button {
  background-color: rgb(232, 203, 130);
  border: rgb(245, 210, 115);
  color: black;
  padding: 12px 34px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(250, 229, 175);
}
