body {
  margin: 0;
  padding: 0;
  background: url("https://www.ucf.edu/files/2020/03/ucf-zoom-pegasus3-1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  font-family: sans-serif;
  background-attachment: fixed;
}

.registerBox {
  backdrop-filter: blur(2px);
}

.container {
  width: 370px;
  height: 530px;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 30px;
  background: rgba(191, 191, 191, 0.8);
  border: 3px solid #555;
}

.container h2 {
  top: -20px;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container label {
  margin-left: -8px;
  font-weight: bold;
  color: black;
}

.container input {
  margin-bottom: -8px;
}

input:focus::placeholder {
  color: transparent;
}

.button1 {
  background-color: #ff9500;
  border: #ff9500;
  color: black;
  padding: 12px 34px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width: 45%;
  margin-top: 10px;
  margin: auto;
}

.button2 {
  background-color: #ffd000;
  border: #ffd000;
  color: black;
  padding: 12px 34px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width: 45%;
  margin-top: 10px;
  margin-left: 20px;
}

.button1:hover {
  background-color: rgb(250, 229, 175);
}

.button2:hover {
  background-color: rgb(250, 229, 175);
}